---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css); //google web font added

body {
    font-family: 'Nanum Gothic Coding', serif;
}

/* 블로그 들어갔을때 글 제목 폰트 변경*/
div {
    article{
        h2{
            a{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}
/* 글 내의 타이틀 변경*/
article{
    div{
        header{
            h1{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}

article{
    div{
        section{
            h2{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}

div{
    article{
        div{
            a{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}

table {
    margin-left: auto; margin-right: auto;
}